APP_ENV=staging
DEPLOYMENT_PROFILE=oke
OCI_AUTH_MODE=instance_principal
OCI_REGION=us-ashburn-1
RETRIEVAL_PROVIDER=oracle_ai_vector_search
RETRIEVAL_FALLBACK_ENABLED=true
EMBEDDING_PROVIDER=oci_genai
EMBEDDING_FALLBACK_ENABLED=true
ADVISORY_SYNTHESIS_PROVIDER=deterministic
OCI_GENAI_COMPARTMENT_ID=
OCI_GENAI_EMBEDDING_MODEL_ID=cohere.embed-v4.0
OCI_GENAI_EMBEDDING_DIMENSIONS=1536
OCI_VECTOR_DB_DSN=
OCI_VECTOR_DB_USER=
OCI_VECTOR_DB_PASSWORD=
OCI_VECTOR_WALLET_LOCATION=
OCI_VECTOR_WALLET_PASSWORD=
OCI_VAULT_CONFIG_SECRET_OCID=
OCI_LOGGING_LOG_GROUP_OCID=
OCI_NOTIFICATIONS_TOPIC_OCID=
OCI_MONITORING_NAMESPACE=oci_architecture_studio
OPERATIONAL_DIAGNOSTICS_ENABLED=true
OCI_CONNECTIVITY_CHECK_ENABLED=false
