tenancy_ocid             = "ocid1.tenancy.oc1..example"
parent_compartment_ocid  = "ocid1.compartment.oc1..example"
region                   = "us-ashburn-1"
ssh_public_key           = "ssh-rsa REPLACE_WITH_YOUR_PUBLIC_KEY"
backend_image_ocid       = "ocid1.image.oc1.iad.example"
availability_domain      = ""
backend_shape            = "VM.Standard.E5.Flex"
backend_ocpus            = 8
backend_memory_gbs       = 128
frontend_bucket_access_type = "ObjectReadWithoutList"
alarm_email              = "baba.shaik@oracle.com"

enable_knowledge_refresh_scheduler          = false
knowledge_refresh_function_image            = "iad.ocir.io/<namespace>/oci-architecture-studio/knowledge-refresh:latest"
knowledge_refresh_scheduler_safe_mode       = true
knowledge_refresh_release_cron              = "17 */6 * * *"
knowledge_refresh_stable_docs_cron          = "23 2 * * 0"
knowledge_refresh_function_memory_mbs       = 1024
knowledge_refresh_function_timeout_seconds  = 300
deployment_profile                          = "oci_vm"
operational_diagnostics_enabled             = true
oci_connectivity_check_enabled              = false

enable_api_gateway                          = false
api_gateway_path_prefix                     = "/"

enable_autonomous_vector_database           = false
autonomous_vector_db_name                   = "OCIARCHVEC"
autonomous_vector_db_admin_password         = "REPLACE_WITH_STRONG_PASSWORD"
autonomous_vector_db_compute_count          = 2
autonomous_vector_db_storage_tbs            = 1
autonomous_vector_db_version                = "26ai"
autonomous_vector_db_license_model          = "LICENSE_INCLUDED"
